POSTGRES_HOST=localhost
POSTGRES_PORT=5440
POSTGRES_DB=demand_mvp
POSTGRES_USER=demand
POSTGRES_PASSWORD=demand

MINIO_API_HOST_PORT=9200
MINIO_CONSOLE_HOST_PORT=9201
POSTGRES_HOST_PORT=5440
MLFLOW_HOST_PORT=5003
ICEBERG_REST_HOST_PORT=8381
SPARK_MASTER_HOST_PORT=7277
SPARK_UI_HOST_PORT=8280
TRINO_HOST_PORT=8282

SPARK_IMAGE=spark:3.5.7-java17-python3

OPENAI_API_KEY=your-openai-api-key-here...

GOOGLE_API_KEY=your-google-api-key-here
GOOGLE_CX=your-google-cse-id-here
