POSTGRES_HOST=localhost
POSTGRES_PORT=5440
POSTGRES_DB=demand_mvp
POSTGRES_USER=demand
POSTGRES_PASSWORD=demand

MINIO_API_HOST_PORT=9200
MINIO_CONSOLE_HOST_PORT=9201
POSTGRES_HOST_PORT=5440
MLFLOW_HOST_PORT=5003
ICEBERG_REST_HOST_PORT=8381
SPARK_MASTER_HOST_PORT=7277
SPARK_UI_HOST_PORT=8280
TRINO_HOST_PORT=8282

SPARK_IMAGE=spark:3.5.7-java17-python3

OPENAI_API_KEY=your-openai-api-key-hereIXWXGqnF_MAYl5FJpZf7NNJ8y5bQ72uW59u0PeRMmi7EZ-uzBQhSLinTLKFRn0OIFuHfACZ7t_T3BlbkFJLQvm-gVRZZzV0Q_Vl9sZCIqETRyd6vSf2Y29JYwJo5znT2tmj2OsleeXCpsDobTVqpGXcg28wA
